<div class="content">
<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>Admin</h3>
        <div class="list-group list-group-root well">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Operations</a></li>

            <a href="#item-1" class="list-group-item" data-toggle="collapse">
              <li class="fa fa-chevron-down"></li>Class
            </a>
            <div class="list-group collapse" id="item-1">
                <%= link_to 'Create Class', class: 'list-group-item', :id => "#link",data: { toggle:"collapse"} %>


              <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
                <i class="fa fa-chevron-right"></i>Drop Class
              </a>
              <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
                <i class="fa fa-chevron-right"></i>View Class
              </a>
            </div>

           <a href="#item-2" class="list-group-item" data-toggle="collapse">
              <li class="fa fa-chevron-down"></li>Teacher
            </a>
            <div class="list-group collapse" id="item-2">
              <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
                <i class="fa fa-chevron-right"></i>Add Teacher
              </a>
              <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
                <i class="fa fa-chevron-right"></i>Suspend Teacher
              </a>
              <a href="#item-2-1" class="list-group-item" data-toggle="collapse">
                <i class="fa fa-chevron-right"></i>View Teacher
              </a>
            </div>
          </ul>
        </div>
      </div>
  </div>
  </div>


  <div class="row row-offcanvas row-offcanvas-right">
   <!-- show classes-->
    <div class="row">
      <% if current_user.admin? %>
        <div class="col-md-6">
          <%= render 'users/class/class_room' %>
        </div>
        <div class="col-md-4">

          <div class="class_create panel panel-primary kanban-col">
          <!--User Create division -->
            <div class="panel-heading">
              <p>Class Creation</p>
            </div>
            <%= render 'users/class/create_class' %>
          </div>

          <div class="class_create panel panel-primary kanban-col">
          <!--User Create division -->
          <div class="panel-heading">
              <p>Add Teacher</p>
            </div>
            <%= render 'users/class/create_teacher'%>
          </div>
        </div>

        <% else %>

        <div class="col-md-9">
          <%= render 'users/class/class_room' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
