<div class="row">
  <div class="container">
    <div class="col-12">
      <div class="well">
        <table class="table">
          <h3>Student Details</h3>
          <%= @class.name %>
          <thead class="thead-default">
            <tr>
              <th>Name</th>
              <th>Roll No</th>
              <th>Marks1</th>
              <th>Marks2</th>
              <th>Marks3</th>
              <th>Verify</th>
              </tr>
          </thead>
          <tbody>
            <%@products.each do |t|%>
              <tr>
              <td><%=t.name%></td>
              <td><%= t.roll_no%></td>
              <td><%= t.marks1%></td>
              <td><%= t.marks2%></td>
              <td><%= t.marks3%></td>
              <td><%= link_to_if t.confirm == false, 'Approve' ,approve_student_path(id: t.id)%></td>
              </tr>
            <%end%>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
