<div class="row">
  <div class="container">
    <div class="col-12">
      <div class="well">
        <table class="table">
          <h3>Student Details</h3>
          <%= @class.name %>
          <thead class="thead-default">
            <tr>
              <th>Name</th>
              <th>Roll No</th>
              <th>Malayalam</th>
              <th>English</th>
              <th>Hindi</th>
              </tr>
          </thead>
          <tbody>
            <%@students.each do |t|%>
              <tr>
              <%= @sub_name %>
              <td><%=t.name%></td>
              <td><%= t.role_no%></td>
              <td><%= t.malayalam%></td>
              <td><%= t.english %></td>
              <td><%= t.hindi%></td>
              </tr>
            <%end%>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
