<%= form_for @user, :url=>{:controller=>"users",:action=>"create_teacher"} do  |f| %>
  <div class="control-group">
    <!-- Username -->
    <label class="control-label"  for="username">Class Teacher</label>
    <div class="controls">
      <%= f.text_field :name %>
      <p class="help-block">Full Name...</p>
    </div>
  </div>
   <div class="control-group">
    <!-- Email -->
    <label class="control-label"  for="username">Teacher Email</label>
    <div class="controls">
      <%= f.text_field :email %>
      <p class="help-block">eg.name@example.com...</p>
    </div>
  </div>
   <div class="control-group">
    <!-- Email -->
    <label class="control-label"  for="username">Select Subject</label>
    <div class="controls">
      <%= f.select :subject_id, @subjects.all.collect {|p| [p.sub_name, p.id]}%>
    </div>
  </div>
  <%= f.hidden_field :role_id, :value => '3' %>
  <div class="control-group">
  <!-- Button -->
  <div class="controls">
    <%= f.submit 'Add Teacher',class: 'btn btn-success' %>
  </div>
  </div>
<% end %>

